:root {
    --font-dm-sans: "DM Sans", sans-serif;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 07);
    --bg-prime-color: #000; 
    --bg-secondary-color: #121212;
    --bg-white-strong: #fff;
    --bg-white-gray: #b3b3b3;
}